# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\machine_learning\opencv-projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
